
artifacts/
cache/
.states/
dist/
build/

.DS_Store
.vscode/
*.log

node_modules/
package_lock.json
yarn.lock

../assignment_2/
../../assignment_2/
../../node_modules/
../../package*.json
../../ethers_*.js
../../web3_*.js
../../hash.js

out/
coverage/